<!DOCTYPE html>
<html>
<head>
    <title>Agregar producto</title>
    <link rel="stylesheet" href="{{url_for('static', filename='estilos.css') }}">
</head>
<body>
    <div class="contenedor">
        <h1>Agregar producto</h1>
        <p>Agregar cantidad a un producto existente</p>
        <form method="POST" action="{{ url_for('agregar_productos') }}">
            <label>Codigo del producto:</label>
            <br>
            <input type="text" name="Product_code" value="{{ producto[2] if producto else '' }}">
            <button type="submit" name="accion" value="buscar">
                BUSCAR PRODUCTO
            </button>
            <br><br>
            <label>Cantidad actual:</label>
            <br>
            <input type="number" name="Stock" value="{{ producto[7] if producto else '' }}" readonly>
            <br><br>
            <label>Cantidad a Agregar:</label>
            <br>
            <input type="number" name="cantidad_agregar">
            <br><br>
            <button type="submit" name="accion" value="guardar">
                AGREGAR CANTIDAD
            </button>

        </form>
    <br>
    <a href="{{ url_for('productos') }}">
        <button class="boton_menu-volver">Volver a productos</button>
    </a>
    </div>
</body>
</html>