<!DOCTYPE html>
<html>

<head>
    <title>Agregar producto a venta</title>
    <link rel="stylesheet" href="{{url_for('static', filename='estilos.css') }}">

</head>

<body>
  <div class="contenedor">
    <h1>Agregar producto a venta</h1>
    <h2>{{ zona }} - MESA {{ mesa }}</h2>
  <form method="POST">

    <p>Ingrese la información del producto que desea agregar a la venta.</p>
    <br>
        <label>SELECCIONE CATEGORIA</label>
        <select name="categoria" onchange="this.form.submit()">
          <option value="">SELECCIONE UNA CATEGORIA</option>
          {% for categoria in categorias %}
           <option value="{{ categoria[0] }}"
            {% if categoria[0]|string == categoria_selecionada|string %}selected{% endif %}>
            {{ categoria[1] }}
          </option>
          {% endfor %}
        </select>
    <br><br>
    <label>PRODUCTOS</label>

    <div class="menu">
      {% if productos %}
          {% for producto in productos %}
              <button type="button" class="boton_menu">
                  {{producto[1] }} - ${{ producto[2] }}
              </button>
          {% endfor %}
      {% elif categoria_selecionada %}
         <p>No hay productos registrador en esta categoria.</p>
      {% else %}
      <p>seleccione una categoria para ver sus productos</p>+*
      {% endif %}
    </div>

    <br><br>
    <label>Cantidad</label>
    <br>
    <input type="number" name="Cantidad">
    <br>
    <button>CONFIRMAR</button>
    <br><br>
    <label>PEDIDO</label>
    <input type="number" name="producto" readonly>
    <input type="number" name="producto" readonly>
    <input type="number" name="producto" readonly>
    <input type="number" name="producto" readonly>
    <br><br>
    <label>TOTAL:</label>
    <br>
    <input type="number" name="Precio" readonly>
    <br><br>
    <button>CAMBIAR DE MESA</button>
    <button>IMPRIMIR EN COCINA</button>
    <button>ELIMINAR PRODUCTO</button>
    <br><br>
    <a href="factura.html">
    <button type="button" class="factura">FACTURAR</button>
    </a>
    <a href="nueva_venta.html">
      <button type="button" class="nueva_venta">AGREGAR CLIENTE</button>
    </a>
    </form>
  <br><br>
  <a href="nueva_venta.html">
    <button class="boton_menu-volver">CANCELAR PEDIDO</button>
  </a>
  </div>
</body>
</html>
