<!DOCTYPE html>
<html>
<head>
    <title>Mi primer proyecto</title>
    <link rel="stylesheet" href="{{url_for('static', filename='estilos.css') }}">
</head>
<body>
<div class="login">
    <img class="logo"src="{{url_for('static', filename='imagenes/brasas.jpg') }}" alt="Logo del sistema">
    <h1>SISTEMA POS</h1>
<h2>BRASAS DE ORO</h2>
<p>Bienvenido nuevamente</p>
<label>usuario</label>
<br>
<input type ="text">
<br>
<label>contraseña</label>
<br>
<input type="password">
<br>
<a href="index.html">
    <button class="boton_ingresar">INGRESAR AL SISTEMA</button>
</a>
</div>
</body>

