<!DOCTYPE html>
<html>
    <head>
        <title>Piso 4 - Mesas</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    </head>

    <body>

        <div class="contenedor">

            <h1>PISO 4</h1>

            <p>Seleccione una mesa</p>

            <div class="menu">

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 4', mesa='30') }}">
                    <button class="boton_menu">MESA 30</button>
                </a>
                

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 4', mesa='31') }}">
                    <button class="boton_menu">MESA 31</button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 4', mesa='32') }}">
                    <button class="boton_menu">MESA 32</button>
                </a>
                

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 4', mesa='33') }}">
                    <button class="boton_menu">MESA 33</button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 4', mesa='34') }}">
                    <button class="boton_menu">MESA 34</button>
                </a>
                

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 4', mesa='35') }}">
                    <button class="boton_menu">MESA 35</button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 4', mesa='36') }}">
                    <button class="boton_menu">MESA 36</button>
                </a>
                

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 4', mesa='37') }}">
                    <button class="boton_menu">MESA 37</button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 4', mesa='38') }}">
                    <button class="boton_menu">MESA 38</button>
                </a>
                

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 4', mesa='39') }}">
                    <button class="boton_menu">MESA 39</button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 4', mesa='40') }}">
                    <button class="boton_menu">MESA 40</button>
                </a>
                <br><br>

                <a href="{{ url_for('mesas') }}">
                    <button class="boton-salir">VOLVER</button>
                </a>

            </div>

        </div>

    </body>
</html>