<!DOCTYPE html>
<html>
    <head>
        <title>Piso 2 - Mesas</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    </head>

    <body>

        <div class="contenedor">

            <h1>PISO 2</h1>

            <p>Seleccione una mesa</p>

            <div class="menu">

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 2', mesa='8') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['8'] == 'ocupada' else 'mesa-libre' }} ">
                        MESA 8

                    </button>
                </a>
                

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 2', mesa='9') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['9'] == 'ocupada' else 'mesa-libre' }} ">
                        MESA 9
                    </button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 2', mesa='10') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['10'] == 'ocupada' else 'mesa-libre' }} ">
                        MESA 10
                    </button>
                </a>
                

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 2', mesa='11') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['11'] == 'ocupada' else 'mesa-libre' }} ">
                        MESA 11
                    </button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 2', mesa='12') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['12'] == 'ocupada' else 'mesa-libre' }} ">
                        MESA 12
                    </button>
                </a>
                

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 2', mesa='13') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['13'] == 'ocupada' else 'mesa-libre' }} ">
                        MESA 13
                    </button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 2', mesa='14') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['14'] == 'ocupada' else 'mesa-libre' }} ">
                    >MESA 14
                </button>
                
                
                <a href="{{ url_for('agregar_producto_venta', zona='PISO 2', mesa='15') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['15'] == 'ocupada' else 'mesa-libre' }} ">
                        MESA 15
                    </button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 2', mesa='16') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['16'] == 'ocupada' else 'mesa-libre' }} ">
                        MESA 16
                    </button>
                </a>
                

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 2', mesa='17') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['17'] == 'ocupada' else 'mesa-libre' }} ">
                        MESA 17
                    </button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 2', mesa='18') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['18'] == 'ocupada' else 'mesa-libre' }} ">
                        MESA 18
                    </button>
                </a>
                

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 2', mesa='19') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['19'] == 'ocupada' else 'mesa-libre' }} ">
                        MESA 19
                    </button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 2', mesa='20') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['20'] == 'ocupada' else 'mesa-libre' }} ">
                        MESA 20
                    </button>
                </a>
                
                <a href="{{ url_for('agregar_producto_venta', zona='PISO 2', mesa='21') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['21'] == 'ocupada' else 'mesa-libre' }} ">
                        MESA 21
                    </button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='PISO 2', mesa='22') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas[22'] == 'ocupada' else 'mesa-libre' }} ">
                        MESA 22
                    </button>
                </a>
                <br><br>

                <a href="{{ url_for('mesas') }}">
                    <button class="boton-salir">VOLVER</button>
                </a>

            </div>

        </div>

    </body>
</html>

