<!DOCTYPE html>
<html>
    <head>
        <title>ROKOLA</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    </head>

    <body>

        <div class="contenedor">

            <h1>ROKOLA</h1>

            <p>Seleccione una mesa</p>

            <div class="menu">

                <a href="{{ url_for('agregar_producto_venta', zona='ROKOLA', mesa='50') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['50'] == 'ocupada' else 'mesa-libre' }} ">
                        ROKOLA
                    </button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='ROKOLA', mesa='51') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['51'] == 'ocupada' else 'mesa-libre' }} ">
                        ADM
                    </button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='ROKOLA', mesa='52') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['52'] == 'ocupada' else 'mesa-libre' }} ">
                        DOM 1
                    </button>
                </a>
                

                <a href="{{ url_for('agregar_producto_venta', zona='ROKOLA', mesa='53') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['53'] == 'ocupada' else 'mesa-libre' }} ">
                        DOM 2
                    </button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='ROKOLA', mesa='54') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['54'] == 'ocupada' else 'mesa-libre' }} ">
                        DOM 3
                    </button>
                </a>
                

                <a href="{{ url_for('agregar_producto_venta', zona='ROKOLA', mesa='55') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['55'] == 'ocupada' else 'mesa-libre' }} ">
                        DOM 4
                    </button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='ROKOLA', mesa='56') }}">
                    <button class="boton_menu {{ 'mesa-ocupada' if estados_mesas['56'] == 'ocupada' else 'mesa-libre' }} ">
                        DOM 5
                    </button>
                </a>
                <br><br>

                <a href="{{ url_for('mesas') }}">
                    <button class="boton-salir">VOLVER</button>
                </a>

            </div>

        </div>

    </body>
</html>