<!DOCTYPE html>
<html>
    <head>
        <title>ROKOLA</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    </head>

    <body>

        <div class="contenedor">

            <h1>ROKOLA</h1>

            <p>Seleccione una mesa</p>

            <div class="menu">

                <a href="{{ url_for('agregar_producto_venta', zona='ROKOLA', mesa='0.1') }}">
                    <button class="boton_menu">ROKOLA</button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='ADM', mesa='0') }}">
                    <button class="boton_menu">ADM</button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='DOM', mesa='1') }}">
                    <button class="boton_menu">DOM 1</button>
                </a>
                

                <a href="{{ url_for('agregar_producto_venta', zona='DOM', mesa='2') }}">
                    <button class="boton_menu">DOM 2</button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='DOM', mesa='3') }}">
                    <button class="boton_menu">DOM 3</button>
                </a>
                

                <a href="{{ url_for('agregar_producto_venta', zona='DOM', mesa='4') }}">
                    <button class="boton_menu">DOM 4</button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='DOM', mesa='5') }}">
                    <button class="boton_menu">DOM 5</button>
                </a>
                

                <a href="{{ url_for('agregar_producto_venta', zona='DOM', mesa='6') }}">
                    <button class="boton_menu">DOM 6</button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='DOM', mesa='7') }}">
                    <button class="boton_menu">DOM 7</button>
                </a>
                

                <a href="{{ url_for('agregar_producto_venta', zona='DOM', mesa='8') }}">
                    <button class="boton_menu">DOM 8</button>
                </a>
                <br><br>

                <a href="{{ url_for('agregar_producto_venta', zona='DOM', mesa='9') }}">
                    <button class="boton_menu">DOM 9</button>
                </a>
                <br><br>

                <a href="{{ url_for('mesas') }}">
                    <button class="boton-salir">VOLVER</button>
                </a>

            </div>

        </div>

    </body>
</html>